<div class="cent">
  <form action="/" method="post">
    <label class="paddedLabel" for="url">URL:</label>
    <input type="url" id="url" name="url" placeholder="URL goes here :)" required />

    <input type="submit" class="btn btn-success" value="SaZa!" />
  </form>
</div>

<br>
<div class="bigTable">
  <table class="table table-hover">
    <tbody>
      <tr class="table_header">
        <th>Recent SaZa'd Sites</th>
        <th>New URL</th>
      </tr>
      <% @urls.each do |url| %>
        <tr>
          <td style="width:75%">
            <a href="http://<%= url["url"] %>" target="_blank">
              <%= url["site_name"] %> </td>
            </a>
          </td>
          <td style="width:25%">
            <a href="http://<%= url["url"]%>" target="_blank">
              <%= "saza.la/#{url["shortened"]}" %> </td>
            </a>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

<p class="cent">
  <%= @count %> links SaZa'd
</p>
